.header__logo {
    width: 142px;
    height: 60px;
    margin: 25px 0 21px;
    background-image: url(../../../images/logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and (max-width: 767px) {
    .header__logo {
        width: 104px;
        height: 40px;
        margin: auto 0 auto 27px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
}
